Repository smarlhens/nest-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier:write

ci(github-actions): build pg container
  .github/workflows/ci.yml
Due: none

ci(travis): build pg container
  .travis.yml
Due: none

ci(circleci): use circleci/postgres, wait for pg
  .circleci/config.yml
Due: none

docs(README): update readme
  README.md
Due: none

docs(README): add docker-compose doc
  README.md
  docker-compose.yml
Due: none

chore(deps): update dependencies
  .github/dependabot.yml
  .prettierrc
  package-lock.json
  package.json
  test/app.e2e-spec.ts
Due: npm run lint, npm run prettier:write

Add renovate.json
  renovate.json
Due: npm run prettier:write

Update renovate.json
  renovate.json
Due: npm run prettier:write

chore(deps): update dependencies, ci job, dependabot config
  .eslintrc.js
  .github/dependabot.yml
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: npm run prettier:write

ci(github-actions): fix matrix node for cache key
  .github/workflows/ci.yml
Due: none

chore(deps): pin dependencies
  package.json
Due: npm run prettier:write

chore(renovate): enable husky before v5
  renovate.json
Due: npm run prettier:write

chore(deps): pin dependency husky to 4.3.8
  package.json
Due: npm run prettier:write

fix(deps): update dependency @nestjs/swagger to v4.8.0
  package-lock.json
  package.json
Due: npm run prettier:write

docs(README): update hits count url
  README.md
Due: none

chore(deps): update typescript-eslint monorepo to v4.19.0
  package-lock.json
  package.json
Due: npm run prettier:write

fix(deps): update nest monorepo to v7.6.15
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency @types/jest to v26.0.22
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency @types/node to v14.14.36
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency @nestjs/cli to v7.6.0
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency @nestjs/schematics to v7.3.1
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency @types/node to v14.14.37
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency eslint to v7.23.0
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency ts-loader to v8.1.0
  package-lock.json
  package.json
Due: npm run prettier:write

fix(deps): update dependency rxjs to v6.6.7
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update typescript-eslint monorepo to v4.20.0
  package-lock.json
  package.json
Due: npm run prettier:write

Path conditions:
  npm run lint: any of: {src,apps,libs,test}/**/*.ts
  npm run prettier:write: any of: ./**/*.{ts,js,json,*rc}
